/* Add Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Reset some default styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url(../images/bck.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
}

nav {
    background: linear-gradient(to right, #FF416C, #FF4B2B);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    min-width: 800px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: 600;
    font-size: 16px;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
}

nav a:active {
    transform: translateY(1px);
}

header .banner {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 40px auto 0px auto;
    width: auto;
    border-radius: 10px;
}

header h1, section h2 {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-family: 'Bungee Spice';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

footer {
    text-align: center;
}

@media (max-width: 600px) {
    th:nth-child(4), td:nth-child(4),
    th:nth-child(9), td:nth-child(9) {
        display: none;
    }

    header .banner {
        max-height: 100px;
        width: 100%;
    }

    header, main, footer {
        min-width: 0;
        padding: 5px;
        margin: 5px 5px;
        max-width: 800px;
        min-width: 200px;
    }

    nav {
        min-width: 0;
    }

    nav ul {
        text-align: left;
    }

    th, td {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
        letter-spacing: -0.5px;
    }

    table {
        font-size: 12px;
        margin-top: 5px;
        border-spacing: 0;
        border-collapse: collapse;
    }
}
