table {
    font-size: 14px;
}

td, th {
    padding: 8px;
}

.topnav {
    overflow: hidden;
    background-color: #0f0f0f;
    position: relative;
    min-width: 300px;
    max-width: 500px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn {
    padding: 5px 10px;
    font-size: 12px;
}

body {
    font-size: 14px;
}

th:nth-child(4), td:nth-child(4), th:nth-child(9), td:nth-child(9) {
    display: none;
}

header .banner {
    max-height: 100px;
    width: 100%;
    margin: 5px auto 0px auto;
}


header, main, footer {
    min-width: 0;
    padding: 5px;
    margin: 5px 5px;
    max-width: 800px;
    min-width: 200px;
}

nav {
    min-width: 0;
}

nav ul {
    text-align: left;
}

th, td {
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    letter-spacing: -0.5px;
}

table {
    font-size: 12px;
    margin-top: 5px;
    border-spacing: 0;
    border-collapse: collapse;
}

section h2 {
    margin-top: 5px;
   
}