body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: url(../images/bck.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.table-image {
    max-height: 50px;
    max-width: 50px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background: linear-gradient(to right, #FF416C, #FF4B2B);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    min-width: 800px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: 600;
    font-size: 16px;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
}

nav a:active {
    transform: translateY(1px);
}

header .banner {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 40px auto 5px auto; 
    width: auto;
    border-radius: 10px;
}

header, main, footer {
    max-width: 1200px;
    min-width: 800px;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

header h1 {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-family: 'Bungee Spice';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section h2 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-family: 'Bungee Spice';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

footer {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    position: sticky;
    top: 22px;
    background: black;
    box-shadow: 0 0 50px 5px #ff6f114d;
}

table, th, td {
    border: 1px solid #e6910924;
    border-radius: 1px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #1e0c0094;
    color: #ff6000;
}

tr:hover {
    background-color: #444;
}

.discord-logo {
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.discord-logo:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

nav {
    background: #121212;
}

a {
    color: #e69109;
    text-decoration: none;
}

.btn {
    font-family: 'Roboto', monospace;
    background: #222;
    color: #e69109;
    border: 1px solid #e69109;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
}

.btn:hover {
    background: #e69109;
    color: #000;
    cursor: pointer;
}

.btn:active {
    transform: translateY(1px);
}


.table-container {
    overflow-x: auto;
    margin: 0 auto;
}


table {
    width: 100%;
    max-width: 100%;
    table-layout: auto;
}

td, th {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.topnav {
    overflow: hidden;
    background-color: #0f0f0f;
    position: relative;
    max-width: 1200px;
    min-width: 800px;
    margin: 5px auto 5px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.topnav #myLinks {
    display: none;
}
.topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-radius: 10px;
}

.topnav a.icon {
    color: #e69109;
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.topnav a:hover {
    background-color: #494949;
    color: #ffffff;
}

.active {
    background-color: #0f0f0f;
    color: #e69109;
}
